.banner{
    width: 100%;
    background-color: #EDF1EE;
    margin: 0 auto;
    height: 40vh;
}

.banner .container{
    max-width: 1280px;
    width: 100%;
    height: 100%;
    background-image: url('../images/chris.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*Section Banner*/

.box{
    width: 100%;
    height: 45vh;
    background-color: #EDF1EE;
}

.box > .container{
    background-image: url('../images/group.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 1280px;
}

/*Box*/