.main{
    height: 85vh;
    padding: 70px;
}

.main-flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.main-box{
    width: 30%;
    height: 30vh;
    background-color: rgb(138, 138, 138);
    border: 1px solid black;
}

.main-box h2{
    text-align: center;
    padding: 15px 0;
}

.main p{
    padding: 0 15px;
}

.main-box .box-1{
    bottom: -56px;
    position: relative;
}

.main-box .box-2{
    position: relative;
    bottom: 11px;
}

.main-box .box-3{
    position: relative;
    bottom: -57px;
}

.main-box .box-4{
    position: relative;
    bottom: -55px;
}

.main-box .box-5{
    position: relative;
    bottom: -17px;
}

.main-box button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 12px;
    background: #F56700;
    cursor: pointer;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 19px;
    transition: 1s;
}  

.main-box button:hover{
    background: white;
}