section{
    width: 100%;
    height: 85vh;
}

section .container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    max-width: 1540px;
}

.box{
    width: 30vw;
    height: 90%;
}

.box-box{
    background-image: url('../images/capa.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 30%;
    margin-top: 4.3%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.description{
    width: 70vw;
    height: 100%;
}

.description h1{
    text-align: center;
    margin: 20px 0 20px 0;
}

.description .text{
    width: 80%;
    height: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.text p{
    font-size: 16px;
}