.contato{
    width: 100%;
    height: 85vh;
}

.contato .container{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    max-width: 1540px;
}

.localiza{
    background: white;
    width: 40vw;
    height: 90%;
    padding-top: 50px;
}

.localiza h2{
    text-align: center;
    padding-bottom: 30px;
}

.localiza .box{
    width: 100%;
}

.mesage{
    width: 60vw;
    height: 100%;
    padding-top: 50px;
}

.mesage h2{
    text-align: center;
    padding-bottom: 30px;
}

form{
    width: 80%;
    padding: 30px 20px;
    background: white;
    border-radius: 5px;
    border: 4px solid black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

form input[type=text]{
    width: 100%;
    padding: 10px 14px;
    font-size: 18px;
    margin-bottom: 20px;
}

form input[type=number]{
    width: 50%;
    padding: 10px 14px;
    font-size: 18px;
    float: left;
}

form input[type=email]{
    width: 50%;
    padding: 10px 14px;
    font-size: 18px;
    float: right;
    margin-bottom: 20px;
}

form textarea{
    resize: none;
    width: 100%;
    padding: 10px 14px;
    font-size: 18px;
    margin-bottom: 20px;
}

form button{
    padding: 8px 16px;
    background: #F56700;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 1s;
}

form button:hover{
    background: white;
}